body {
    background: #E7E7E7;
    
}

header{
    position: fixed;
    top: 0px;
    left: 0px;
}

.vector{
    width:25px;
    margin: 40px 0 0 80px;
}

main{
    display:flex;
    justify-content: space-between;
}

.cajaprincipal{
    margin: 150px 0px 0px 70px;
    padding: 0px 20px 0px 0px;
}

.areaprincipal{
    background: none;
    width: 700px;
    height: 370px;
    resize: none;
    border: none;
    color: darkblue;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 25px;
    font-weight: bold;
    
}

.areaprincipal::placeholder{
    color:navy;

}


.areaprincipal:focus{
    outline: none;
}

.cajasecundaria{
    width: 300px;
    height: calc(100vh - 40px);
    margin: 20px 100px 0px 0px;
    background:white;
    border-radius: 10px;
    box-shadow: 2px 2px 4px #000000;
}

#mensajeimagendesencriptado{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.imagendesencriptador{
    width: 230px;
    margin: 0 0 0 27px;
}

.mensajedesencriptado{
    font-size: 22px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    margin: 5px 40px 10px 40px;
    text-align: center;

}
.mensajedesencriptado2{
    font-size: 15px;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 20px 5px 60px 5px;
    text-align: center;
     
}

.textodesencriptado{
    font-size: 20px;
    font-weight: bold;
    word-wrap:break-word;
    width: 250px;
    height: 450px;
    font-family: 'Source Sans Pro', sans-serif;
    color: black;
    margin: 30px 30px 60px 20px;
    display: block;
    
}

.botones{
    display:flex;
    justify-content: center;
    gap: 20px;
}

.botonencriptar{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    padding: 20px;
    width:250px;
    border: 1px solid;
    border-color: white;
    border-radius: 30px;
    background: navy;
    color:white;
    transition: 1s background;
}

.botonencriptar:hover{
    background:blue;
    transform:scale(1.1);
}

.botonencriptar:active{
    background: darkblue;
    transform:scale(1.0)
}

.botondesencriptar{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    padding:20px;
    width:250px;
    border: 1px solid;
    border-color: navy;
    border-radius: 30px;
    background: #dadde2;
    color:navy;
    transition: 1s background;
}

.botondesencriptar:hover{
    background: white;
    transform: scale(1.1);
}

.botondesencriptar:active{
    background: gray;
    transform:scale(1.0);
}

.botoncopiar{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    margin: 0 0 30px 25px;
    padding:20px;
    width:250px;
    border: 1px solid;
    border-color: navy;
    border-radius: 30px;
    background: #dadde2;
    color:navy;
    transition: 1s background;

}

.botoncopiar:hover{
    background: white;
    transform: scale(1.1);
}

.botoncopiar:active{
    background: gray;
    transform:scale(1.0);
}

footer{
    width: 100%;
    margin: 40px 0 0 0 ;
    text-align: center;
}

.copyright{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    color: darkblue; 
    padding: 13px 0 40px 0;
}

.logoempresa{
    width:120px;
   
}
@media screen and (min-width: 360px) and (max-width: 800px){
    body{
        width: auto;
    }
    main{
        display: block;
        justify-content: center;
        width:auto;
    }
    .vector{
        margin: 45px 0 0 30px;
    }

    .cajaprincipal{
        width: auto;
        justify-content: center;
        padding: 0 0 0 10px;
    }
    .areaprincipal{
        font-size: 35px;
        padding: 0 80px 0 0 ;
        height: calc(100vh - 60px);
        width: calc(100vh - 300px);
    }

    .botones{
        margin: 0 0 0 30px;
        
    }

    .cajasecundaria{
        width:700px;
        height: auto;
        margin: 70px auto 20px auto;
    }

    .imagendesencriptador{
        display: none;
    }

    .mensajedesencriptado{
        margin: 50px 0 5px 0;
    }


    .textodesencriptado{
        width: auto;
        height: auto;
        justify-content: center;
        padding: 30px 20px 0 25px;
        margin-bottom: 30px;
    }
    .botoncopiar{
        margin: 0 236px 20px 236px;
    }

    footer{
        width: 100%;
        justify-content: center;
        margin: 30px 0 0 70px;
    }
    
}